<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gitlabrepositorysearch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".config.ConfigurationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Repository Search"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GitLabRepositorySearch">
        <activity
            android:name=".application.DetailScreen"
            android:exported="false" />
        <activity
            android:name=".application.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>